.auth-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(239,112,160);
    background: linear-gradient(90deg, rgba(239,112,160,1) 0%, rgba(244,163,110,1) 50%, rgba(239,243,111,1) 100%);
}

.input-card{
    height: 430px;
    width: 470px;
    -webkit-box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.20), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.20), 0 10px 10px 0 rgba(0, 0, 0, 0.21);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.input-card > h1{
    font-size: 70px;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.inputs{
    margin-bottom: 30px;
    
}

.inputs > label{
    margin-right: 10px;
    letter-spacing: 1px;
}

.btn{
    border: none;
    
}

